<!DOCTYPE html>
<html>
<head>
	<title>Install Lunch Date</title>
</head>
<body>

    <center>
    <h1 id="lunchdateslackapplication">Lunch date Slack Application</h1>


    <p><strong>Lunch date</strong> is a slack application that randomly pairs a number of people in a slack channel. These people can then take it up from there.</p>

    <p>The ideal scenario is members who have been paired go have lunch together (i.e bonding while lunching). However, the possibilities are endless. <br />
    This is a WIP.</p>

	<h2>Click the button to install Lunch Date bot</h2>
    <a href="https://slack.com/oauth/authorize?scope={{ scope }}&client_id={{ client_id }}">
        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
    </a>

    <p><a href="https://iamlordaubrey.github.io/lunch_date/">GitHub page</a></p>
    </center>
</body>
</html>