<!DOCTYPE html>
<html>
<head>
	<title>Thanks</title>
</head>
<body>
	<h1>Thanks for installing!</h1>

    <h3 id="prerequisites">Prerequisites</h3>

    <p>At the moment: </p>

    <ul>
        <li>Pairings are in 3's.</li>

        <li>You need to create a public channel called <em>luncheon</em> in your slack team / organization. The pairings would be amongst members of this channel.</li>

        <li>The pairings would be done at 12:00 WAT.</li>
    </ul>


    <h3 id="toknow">To know</h3>

    <p>The application is currently hosted on Heroku. I'm making use of <a href="https://uptimerobot.com/">Uptime robot</a> for application monitoring.</p>

    <p><a href="https://iamlordaubrey.github.io/lunch_date/">GitHub page</a></p>

    <h3 id="supportorcontact">Support or Contact</h3>

    <p>Having trouble with <strong>Lunch date</strong>? Send me an <a href="mailto:lord.chiemy@gmail.com">email</a> and I will help sort it out.</p>

</body>
</html>